@import '../css/style.css';
@import '../css/header.css';
@import '../css/footer.css';

.main {
}

.start {
  background: url(../assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.start__wrapper {
  display: flex;
  #align-items: center;
  gap: 42px;
  padding-top: 180px;
}

.start__text {
  display: flex;
  flex-direction: column;
  margin-top: 163px;
  gap: 42px;
}

.start__text .btn {
  max-width: 207px;
}

.start__title {
  max-width: 310px;
  color: #FFFFFF;
  letter-spacing: -0.2px;
}

.start__p {
  line-height: 24px;
  color: #CDCDCD;
  text-align: justify;
  letter-spacing: 0.2px;
}

.about {

}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding: 80px 175px 100px 175px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  #max-width: 430px;
  margin-top: 14px;
}

.about__title {
  max-width: 370px;
  color: #545454;
}

.about__p {
  color: #4C4C4C;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.pets {
  background-color: #F6F6F6;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  padding: 80px 0 100px 0;
}

.pets__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #545454;
}

.slider {
  display: flex;
  align-items: center;
}

.slider__content {
  overflow: hidden;
  display: flex;
  gap: 90px;
  max-width: 990px;
  margin:0 53px;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: all ease 0.50s;
}

.slider__item img {
  border-radius: 9px 9px 0 0;
}

.slider__item span {
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  #line-height: 22.72px;
  color: #545454;
}

.slider__item:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__item:hover > .btn--trans {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider__item:active > .btn--trans{
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.slider__button {

}

.slider__button:last-child {
  transform: scale(-1, 1);
}

.help {
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px 0;
}

.help__title {
  max-width: 312px;
  text-align: center;
  color: #545454;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 58px 60px 0 60px;
  color: #545454;
}

.help__item img {
  width: 60px;
  height: 60px;
}

.donation {
  background: #F6F6F6;
}

.donation__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 80px 142px 100px 143px;
}

.donation__img {
  margin-top: 10px;
  height: 100%;
}

.donation__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  #max-width: 380px;
}

.donation__title {
  max-width: 311px;
  line-height: 44.5px;
  letter-spacing: 2px;
}

.donation__sub {
}

.donation__button {
  display: flex;
  align-items: center;
  padding: 8px 13px;
  border-radius: 9px;
  gap: 15px;
  max-width: 349px;
}

.donation__button span {
  font-family: 'Georgia', serif;
  font-size: var(--heading-4);
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 23px;
}

.donation__p {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #B2B2B2;
}
